.WorkHeadingContainer p {
  font-family: var(--primaryMediumFont);
  color: var(--textPrimary);
  font-size: 2.5em;
  width: 8em;
}

.workMainContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  height: 80vh;
  
}

.worksContainer img {
  width: 100%;
  object-fit: cover;
}

.reveal {
  position: relative;
  overflow: hidden;
}

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
  .worksContainer img {
  }
}

@media screen and (max-width: 500px) {
  .workMainContainer {
    grid-template-columns: 1fr;
    height: 100vh;
    padding-right:30px ; /* Single column layout on very small screens */
  }
  .worksContainer img {
    height: auto; /* Adjust height for smaller screens */
  }
}
