.WorkHeadingContainer p {
  font-family: var(--primaryMediumFont);
  color: var(--textPrimary);
  font-size: 2.5em;
  width: 8em;
  padding-top: 0.5em;
}
.workFirstRow,
.workSecondRow {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5em;
  gap: 10em;
}
.worksContianer img {
  width: 54em;
  height: 36vh;
}

@media screen and (max-width: 1024px) {
  .worksContianer img {
    height: 11vh;
  }
}
@media screen and (max-width: 500px) {
  .worksContianer img {
    height: 10vh;
  }
  .workFirstRow,
  .workSecondRow {
    gap: 1.2em;
    padding-top: 0.1em;
    padding-bottom: 1em;

    padding-right: 30px;
  }
}
.workMainContainer {
  height: 100vh;
}
